.section {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    grid-gap: 20px; /* Add some gap between the cards */
    
}
